[Unit]
Description="Run backup-minecraft-server.service 5min after boot and every 2 hours relative to activation time"

[Timer]
User=root
OnBootSec=5min
OnUnitActiveSec=2h
Unit=backup-minecraft-server.service

[Install]
WantedBy=multi-user.target