[Unit]
Description=Service to startup minecraft-papa podman container and start the playitgg tunnel
After=startup-prometheus.service

[Service]
User=denovocto
Restart=always
WorkingDirectory=/home/denovocto/applications/minecraft
ExecStart=/bin/bash -l /home/denovocto/applications/minecraft/startup_minecraft_server.sh
ExecStop=/usr/bin/podman stop minecraft-papa
[Install]
WantedBy=multi-user.target