[Unit]
Description=Service to startup grafana podman container
After=startup-prometheus.service

[Service]
User=denovocto
Restart=always
WorkingDirectory=/home/denovocto/applications/grafana
ExecStart=/usr/bin/podman start grafana
ExecStop=/usr/bin/podman stop grafana
[Install]
WantedBy=multi-user.target