[Unit]
Description=Service to startup prometheus podman container
After=podman.service

[Service]
User=denovocto
Restart=always
WorkingDirectory=/home/denovocto/applications/grafana
ExecStart=/usr/bin/podman start prometheus
ExecStop=/usr/bin/podman stop prometheus
[Install]
WantedBy=default.target