[Unit]
Description=Service to startup minecraft-papa podman container and start the playitgg tunnel
After=podman.service

[Service]
User=root
Restart=always
WorkingDirectory=/root/applications/minecraft
ExecStart=/bin/bash -l /root/applications/minecraft/startup_minecraft_server.sh
ExecStop=/usr/bin/podman stop minecraft-papa
[Install]
WantedBy=multi-user.target